<div class="login">
  <div class="fondo">
    <div class="logo">
      <img class="logo-img" src="assets/img/logo2.svg" alt="logo" />
    </div>

    <div class="cajaInfo">
      <p>
        Información y noticias para los alumnos del IES Gran Capitán
      </p>
    </div>

    <div class="boton">
      <button class="btn btn-lg btn-google" (click)="saltarPopUp()"><img src="assets/img/google.png">&nbsp;&nbsp;<div>Iniciar Sesión</div></button>
    </div>
  </div>
  <app-footer></app-footer>
</div>