<div id="menuLateral" class="sidenav">
  <div id="contendor1">
    <img src="assets/img/logo3.png" alt="icono" id="shikobaIcono">
    <hr><hr>
    <button class="btn btn-lg btn-google" (click)="onClickLogout()">Logout</button>
    <hr>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  </div>

</div>

<div id="banner">
  <i class="material-icons" (click)="openNav()">menu</i>
</div>


<div *ngIf="!alumno">
  Cargando datos personales...
</div>
<div *ngIf="alumno">
  <ul>
    <li>
      <h3>{{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}} </h3>
    </li>
    <li>
      <p>{{alumno.email}}</p>
    </li>
    <li>
      <h1>{{alumno.puntos}}</h1>
    </li>
  </ul>
</div>
